<h1>Films</h1>
<a href="/films/form">Create a new film</a>

<ul>
  {{#each films}}
    <li>{{this.id}} - {{this.title}} {{this.releaseYear}} {{this.director}} {{this.decscription}} {{this.isAnalyzed}}
      <a href="/films/edit?id={{this.id}}">edit</a>
    </li>
  {{/each}}
</ul>